:root {
  --black: #000000;
  --wo-gray: #d1d0d0;
  --wo-pastel-brown: #988686;
  --wo-dark-brown: #5c4e4e;
}

* {
  font-family: "PP Neue Montreal";
  font-size: 16px;
}

body {
  background-color: var(--wo-gray);
}

header {
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--black);
  color: var(--wo-gray);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-logo {
  width: 4rem;
  z-index: 1;
}

.header-text{
  color: white;
  font-size: 32px;
  font-weight: 500;
  z-index: 1;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  padding: 6rem;
  align-items: center;
  height: 100px;
  /* border: 1px solid gray; */
  gap: 2rem;
}

.ingredient-input {
  height: 40px;
  min-width: 150px;
  max-width: 500px;
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
}

.btn {
  background-color: black;
  cursor: pointer;
  color: white;
  height: 40px;
  min-width: 150px;
  border: 1px dashed beige;
  border-radius: 6px;
  font-weight: 500;
}

.ingredient-submit-btn {
    /* custom styling? */
}
.ingredients-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 6rem;
}

.ingredients-list-subcontainer {
  width: 682px;
  min-width: 150px;
  /* border: 3px dashed green; */
}

.ingredients-list-title {
    font-size: 32px;
     /* border: 1px solid blue; */
    animation: fadeInDown 0.9s ease-in forwards ;
}

.ingredients-list {
  padding: 1rem 2rem;
  /* border: 1px solid blue; */
}

.ingredients-list > li {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  color: hsl(0, 0%, 25%);
  animation: fadeInDown 0.3s ease-in forwards;
}

.call-to-action-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;	
    justify-content: center;
    align-items: center;
}

.call-to-action-subcontainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C1c1c1; 
    gap: 0.5rem;
    padding: 0.9rem;
    border-radius: 1rem;
    opacity: 0;
    animation: fadeInUp 0.5s ease-in forwards;
}
.generate-btn {
    width: 30%;
}

@keyframes fadeInUp {
    0% {
	opacity: 0;
	transform: translateY(20px);
    }
    100% {
	opacity: 1;
	transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
	opacity: 0;
	transform: translateY(-10px);
    }
    100% {
	opacity: 1;
	transform: translateY(0);
    }
}
